<?php

# Define the settings
$settings = array (
	'hostname' => 'localhost',
	'username' => 'my_username',
	'password' => 'my_password',
	'organisationName' => 'Widgets Institute',
);

# Load and run the MODES catalogue API class
require_once ('modesCatalogueApi.php');
new modesCatalogueApi ($settings);

?>