/* API documentation */
#modescatalogueapi h2.apidocumentation {border-top: 2px solid #ccc; margin-top: 2em; padding-top: 0.7em;}
#modescatalogueapi h2.apidocumentation a {color: #ccc; font-size: 0.73em;}
#modescatalogueapi dl.code {padding: 9px; background-color: #f5f5f5; border: 1px solid #ccc; border-radius: 4px;}
